{% extends "base.html" %}

{% block content %} 

<title>Linear Regression</title>
<link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/base.css') }}">

{% endblock %}

{%block body%}


<h1 class = 'heading'> Prediction</h1>
        
        <form class = 'Form' action = '#' method = 'POST' enctype="multipart/form-data">
            

            
                <input type = 'text' name = 'X'>
                
                
                <input class = 'choose' type="file" name ='Files' >
                
             

            <a href = reg> <button class = 'button'> Predict</button> </a>

            <h2 style="color: azure;">Salary : {{result}}</h2>
            
            </form>
            


{%endblock%}