{% extends "base.html" %}

{%block content%}Multiple Regression{%endblock%}

{%block body%}
<form class = 'Form' action = '#' method = 'POST' enctype="multipart/form-data">
            

            <div class="button-wrap">
                
                
                <input class = 'choose' type="file" name ='Files' >
               
                <br>
                <input type = 'text' name = 'x1'><br>
                <input type = 'text' name = 'x2'><br>
                <input type = 'text' name = 'x3'><br>

              </div>
            <button class = 'button'> Predict</button>
              <h2>Sales = {{result}}</h2>

              
              
              </form>
{%endblock%}