{% extends "base.html" %}

{%block content%}

<title>Decision Tree</title>
<link rel = 'stylesheet' href="{{url_for('static', filename = 'CSS/style3.css')}}">
{%endblock%}

{%block body%}

    <div class="container">

    
    <form class = 'Form' action = '#' method = 'POST' enctype="multipart/form-data">
            

        <div class="button-wrap">
            <br>
        
            <input class = 'choose' type="file" name ='Files' >
            <br>
            <label>Fixed acidity</label>
            <input type = 'text' name = 'x1' class="align">
            <label>Volatile</label>
            <input type = 'text' name = 'x2' class="align">
            <label>Citric acid</label>
            <input type = 'text' name = 'x3' class="align">

            <label>Residual sugar</label>
            <input type = 'text' name = 'x4' class="align">
            <label>Chlorides</label>
            <input type = 'text' name = 'x5' class="align">
            <label>Free Sulphur di oxide</label>
            <input type = 'text' name = 'x6' class="align">
            <br>
            <br>
            <br>
            <label>Total Sulphur di oxide</label>
            <input type = 'text' name = 'x7' class="align">
            <label>Density</label>
            <input type = 'text' name = 'x8' class="align">
            <label>pH</label>
            <input type = 'text' name = 'x9' class="align">

            <label>Sulphates</label>
            <input type = 'text' name = 'x10' class="align">
            <label>Alcohol</label>
            <input type = 'text' name = 'x11' class="align">
            

          </div>
          <br>
        <button class = 'button'> Predict</button>
          <h2>Wine Quality = {{result}}</h2>

          <br>
          <br>
          <a href = '/'>Return to model selection</a>
          
          </form>
          </div>

{%endblock%}