<!DOCTYPE html>
<html>
    <head>
        <title>Linear Regression Prediction</title>
    </head>

    <body>
        <form action = '/' method = 'POST'>  
            <input type = "text" name = "X" id = "Xaa">
            <label for = "Xaa">Column 1</label>
    
            <input type = "text" name = "Y" id = "Y">
            <label for = "Y">Y value</label>
    
            <button type="submit" name = "submit" id = submit>Submit Values</button>
        </form>
    </body>
</html>