<!DOCTYPE html>
<head>
    <title>Linear Regression</title>
    <link rel="stylesheet" href = "{{url_for('static', filename = 'CSS/style3.css')}}">
</head>

<body>
    <div class = "container">
    <a href = reg><button type="button">Linear Regression</button></a>
    <a href = multi><button type="button">Multiple Regression</button></a>
    <a href = decTree><button type = "button">Decision Tree</button></a>
    <a href = rand><button type = "button">Random Forest</button></a>
    </div>

</body>