{% extends "base.html" %}

{%block content%}

<title>Multiple Regression</title>
<link rel = 'stylesheet' href="{{url_for('static', filename = 'css/style3.css')}}">

{%endblock%}

{%block body%}

    <div class="container">

    
    <form class = 'Form' action = '#' method = 'POST' enctype="multipart/form-data">
            

        <div class="button-wrap">
            <br>
        
            <input class = 'choose' type="file" name ='Files' >
            <br>
            <label>Youtube</label>
            <input type = 'text' name = 'x1' class="align">
            <label>Facebook</label>
            <input type = 'text' name = 'x2' class="align">
            <label>Newspaper</label>
            <input type = 'text' name = 'x3' class="align">

          </div>
          <br>
        <button class = 'button'> Predict</button>
          <h2>Sales = {{result}}</h2>

          <br>
          <br>
          <a href = '/'>Return to model selection</a>

          
          
          </form>
          </div>

{%endblock%}